body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--tg-background-color, white);
}

#app {
    text-align: center;
}

#mainButton {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: white;
}
